#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

**/.docker/
**/.terraform/
**/build/
**/dist/
**/node_modules/
**/*.zip
**/.DS_Store
**/.env
