<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Web -->
    <meta charset="utf-8">
    <meta name="description" content="Auth">
    <meta name="author" content="Boston Democratic Socialists of America">
    <title>Boston DSA</title>

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Typeface -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dhg/Skeleton/2.0.4/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dhg/Skeleton/2.0.4/css/skeleton.css">

    <!-- Styles -->
    <style>
      a          { color: #b71c1c; }
      body       { margin-top: 5%; }
      pre        { word-wrap: break-word; white-space: pre-line; }
      .container { max-width: 840px; }
      .header    { all: unset; }
      .warning   {
        background-color: #FFD2D2;
        border-radius: 4px;
        color: #D8000C;
        margin: 0 2px 0 2px;
        padding: 6px 12px 6px 12px;
      }
    </style>

    <!-- Cards -->
    <style>
      .card {
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        background-color: #fafafa;
        margin-top: 10px;
      }
      .card:hover, .card:active {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
      .card:hover .card__header, .card:active .card__header {
        height: 40px;
      }
      .card:hover .card__body, .card:active .card__body {
        height: 96px;
      }
      .card .card__header {
        position: relative;
        height: 96px;
        margin: -20px -20px 20px -20px;
        transition: height 0.5s;
        overflow: hidden;
      }
      .card .card__header .card__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
        display: block;
        width: 128px;
        height: 128px;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
      }
      .card .card__body {
        height: 40px;
        transition: height 0.5s;
        overflow: hidden;
      }
      .card .card__body .card__title {
        font-size: 1.4em;
        font-weight: 600;
        text-transform: uppercase;
      }
      .card .card__body .card__subtitle {
        color: #9E9E9E;
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <div class="container">

      <div class="row">
        <a class="header" href="/">
          <div class="one column">
            <img src="https://s3.amazonaws.com/design.dsausa.org/dsa-circle.png" width="56" height="56"></img>
          </div>
          <div class="eleven columns">
            <h1>Boston DSA</h1>
          </div>
        </a>
      </div>

      <div class="row">
        Welcome, <a href="mailto:<%= email %>"><%= email %></a>
        <a href="/logout" class="u-pull-right button">Logout</a>
      </div>

      <div class="row">
        <div class="four columns">
          <div class="card">
            <header class="card__header" style="background: #ff0000;">
              <img class="card__icon" src="https://pbs.twimg.com/profile_images/891003621822910464/Pdp_UUB__400x400.jpg" alt="Slack Logo"/>
            </header>
            <section class="card__body">
              <h2 class="card__title">Website</h2>
              <span class="card__subtitle" onClick="window.open('https://bostondsa.org/');">bostondsa.org</span>
            </section>
          </div>
        </div>
        <div class="four columns">
          <div class="card">
            <header class="card__header" style="background: #fff;">
              <img class="card__icon" src="https://wiki.bostondsa.org/w/resources/assets/rose.jpg" alt="Wiki Logo"/>
            </header>
            <section class="card__body">
              <h2 class="card__title">Wiki</h2>
              <span class="card__subtitle" onClick="window.open('https://wiki.bostondsa.org/');">Chapter knowledge base</span>
            </section>
          </div>
        </div>
        <div class="four columns">
          <div class="card">
            <header class="card__header" style="background: #821D1D;">
              <img class="card__icon" src="https://upload.wikimedia.org/wikipedia/commons/5/56/Apple_Calendar_Icon.png" alt="Google Calendar Logo"/>
            </header>
            <section class="card__body">
              <h2 class="card__title">Calendar</h2>
              <span class="card__subtitle" onClick="window.open('https://calendars.dsausa.org/u21m8kt8bb1lflp8jpmd317iik%40group.calendar.google.com');">Subscribe to Chapter Calendar</span>
            </section>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="four columns">
          <div class="card">
            <header class="card__header" style="background: #FF4F4F;">
              <img class="card__icon" src="https://upload.wikimedia.org/wikipedia/commons/7/76/Slack_Icon.png" alt="Slack Logo"/>
            </header>
            <section class="card__body">
              <h2 class="card__title">Slack</h2>
              <span class="card__subtitle" onClick="window.open('https://bostondsa.slack.com/');">Join the conversation</span>
            </section>
          </div>
        </div>
        <div class="four columns">
          <div class="card">
            <header class="card__header" style="background: #775B7B;">
              <img class="card__icon" src="https://upload.wikimedia.org/wikipedia/it/archive/0/09/20160903181541!Twitter_bird_logo.png" alt="Twitter Logo" style="height: 96; width: 96;"/>
            </header>
            <section class="card__body">
              <h2 class="card__title">Twitter</h2>
              <span class="card__subtitle" onClick="window.open('https://twitter.com/Boston_DSA');">Follow us on Twitter</span>
            </section>
          </div>
        </div>
        <div class="four columns">
          <div class="card">
            <header class="card__header" style="background: #F8B195;">
              <img class="card__icon" src="https://i2.wp.com/bostonpewg.org/wp-content/uploads/2018/03/cropped-pewglogo1.png" alt="Blog Logo" style="height: 91px;"/>
            </header>
            <section class="card__body">
              <h2 class="card__title">Blog</h2>
              <span class="card__subtitle" onClick="window.open('https://bostonpewg.org/');">Political Education Blog</span>
            </section>
          </div>
        </div>
      </div>

      <br/>
    </div>
  </body>
</html>
